.navbar {
  display: flex;
  flex-direction: column;

  .container {
    justify-content: space-around !important;
  }

  &-brand {
    font-size: x-large !important;
    font-weight: 600;
  }

  input {
    margin: auto;
    border-radius: 10px;
  }

  &-button {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: large;
    color: #fff;
    background-color: transparent;
    border: none;
  }

  &-nav {
    justify-content: space-around;
  }
}

.nav-top {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;

  svg {
    margin-right: 5px;
  }
}

.div-buttons {
  display: flex;
  justify-content: space-around;
}

.button-help svg {
  margin-right: 5px;
}

.cart-widget {
  position: relative;
  margin-right: 8px;
}

.badge {
  position: absolute;
  top: -8px;
  left: 18px;
  padding: 3px 6px !important;
}

.nav-bottom {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav {
  font-weight: 600;
}

.items-container {
  margin-top: 15px;
}

h1 {
  text-align: center;
}